# Exam Overview and Instructions

- Homework assignments and exams have point values that contribute to the final grade. Final grade depends on total point value. The range of total possible points for a semester is 0 to 100 points.
    - The grade for this midterm is in the range 0 to 100. The sum of the point values of the questions is 110 points. You can answer all questions and your grade will be the sum of the points up to a maximum of 100. Answering all questions cannot decrease your grade. The point values of the questions is:
        - Section 3 has 5 questions that require writing SQL queries. Each questions is work 10 points.
        - Sections 4, 5, 6 and 7 each have one question woth 15 points.
    - __This midterm exam is contributes 20 points__ for your final semester point total. So, divide your score on this exam by 5 to determine point contribution.


- Submission:
    - The exam is due on Sunday, 17-Mar-2018 at 11:59PM. __You may not use grace days.__
    - Submission:
        - Submission format is a zip file containing this Jupyter Notebook with your solutions entered into the code cells or Markdown cells for each question. If you embed images or diagrams, you need to include the images in the zip file.
        - The file name must be of the form "uni_midterm_s_2019.zip" Replace the string "uni" with your uni. Please do not submit a file without performing the replacement.
        - You submit your homework on CourseWorks under [Midterm Examination](https://courseworks2.columbia.edu/courses/79571/assignments/274101) assignment.
        - No other formats are allowed.
        - If the notebook format is incorrect or the notebook is corrupted, the grade is 0.
        - Submissions after the due date and time are not allowed. Submissions not received on time receive a grade of 0.
    - Respect for the individual is paramount. We will accommodate special circumstances, but we must be notified and discuss __in advance.__
    

- Exam Rules:
    - Please read and review the [Academic Integrity policy and guidelines](https://www.college.columbia.edu/academics/academicintegrity), including subsections and details. This material defines the base rules for this exam regardless of your school.
    - No student collaboration of any form is permitted. You may not share material of any form, including links to on-line information, __information from the preparatory recitation section,__ suggestions or ideas, etc.
    - You __MAY__ use material from office hours or recitations.
    - You __MAY__ use any on-line information you find, but may not directly use code you find. You must cite any on-line sources in the comments Markdown cell for each questions.
    - You must privately send comments or questions to Professor Ferguson __via email.__ If questions or comments demonstrate a need for clarification or correction, Prof. Ferguson will update this document and post the correction information on this and only this [Piazza topic.](https://piazza.com/class/jpltphl4wz76cm?cid=595)
    - You may not discuss the exam on Piazza. Private posting and anonymous post is disabled during the midterm examination period, and will be re-enabled after the midterm.

- Completing the exam:
    - Environment:
        - You must use an unmodified, original lahman 2017 database for many of the questions.
        - Other questions ask you to create a database/schema. The questions provide instructions.
        - You can load the original Lahman 2017 database by downloading and unzipping this file: [lahman2017raw.sql](https://courseworks2.columbia.edu/files/4377424/download?download_frd=1)
            - You can import the data and create the database in MySQL Workbech.
            - Use the menu function "Server->Data Import." 
            - Check the option "Import from Self-Contained File."
            - Make sure that "Dump Structure and Data" is chosen in the selection in the last row of the import wizard.
        - You must install and use [%%SQL Magic for iPtython](https://github.com/catherinedevlin/ipython-sql) for executing any SQL statements in code cells.
        - Section 2 tests the setup of your environment. You __MUST USE__  dbuser:dbuserdbuser@localhost/lahman2017raw. 
        - Your database __MUST HAVE__ a user ```dbuser``` with pasword ```dbuserdbuser```
    - Each question starts with an explanation of the structure of the answer, e.g. prose, diagram, SQL, etc.
    - Questions requiring SQL or code have empty code cells where you enter your statements. Some also contain sample answers to help you determine if your answer is correct. You must show the execution of your SQL in your submission. You may use LIMIT 10 to reduce the size of results.
    - Some of the queries may take several minutes to complete. In module II, we will demonstrate how to improve query performance using indexes.

# Environment Test

This section tests the environment. You must change the "userid:pw" to "dbuser:dbuserdbuser" for your MySQL instance. Unless you have received an exception, you __MUST USE dbuser:dbuserdbuser.__

## SQL Magic Plugin

In [130]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/lahman2017raw
        
%sql select * from people where playerid='willite01'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

## Helper Python Libraries

### Imports

In [2]:
import pymysql
import json
import copy
import pymysql.cursors

"""
The core exceptions that PyMySQL throws. A data access abstraction layer like XXXDataTable
would convert to a common set of data technology independent exceptions. This enables a single
application code base for accessing data.

Just FYI. I do not use in this code.
"""
pymysql_exceptions = (
    pymysql.err.IntegrityError,
    pymysql.err.MySQLError,
    pymysql.err.ProgrammingError,
    pymysql.err.InternalError,
    pymysql.err.DatabaseError,
    pymysql.err.DataError,
    pymysql.err.InterfaceError,
    pymysql.err.NotSupportedError,
    pymysql.err.OperationalError)

### Connection Management and JSON Helpers

In [131]:
# Default connection info to use if caller does not specify one.
_default_connect_info = {
        'host': 'localhost',
        'user': 'dbuser',
        'password': 'dbuserdbuser',
        'db': 'lahman2017raw',
        'port': 3306
    }

# Shared, default connection to use if the caller does not provide a specific
# connection.
_default_cnx = pymysql.connect(
               _default_connect_info['host'],
                _default_connect_info['user'],
                _default_connect_info['password'],
                _default_connect_info['db'],
            charset='utf8mb4',
            cursorclass=pymysql.cursors.DictCursor)

# A pool of names connections.
_connections = {}


def safe_json_dump(o):
    """

    :param o: Object to dump to a string.
    :return: json.dumps() with default=str or text if cannot convert to JSON.
    """

    try:
        result = json.dumps(o, indent=2, default=str)
    except Exception as e:
        result = "Not JSON - " + print(o)

    return result


def get_connection(c_name, host=None, port=None, user=None, password=None, db=None):
    """

    :param c_name: Name of a possibly pre-created connection.
    :param host: Host for a new connection
    :param port: Port for a new connection
    :param user: User for a new connection.
    :param password: Password for new connection.
    :param db: DB/schema to connect to.
    :return: The pre-created connection if it exists, or a connection created with the
    passed parameters.
    """

    try:
        cnx = _connections.get(c_name, None)
    
        if cnx is None:
            c_info = copy.copy(_default_connect_info)
            if host is not None:
                c_info['host'] = host
            if port is not None:
                c_info['port'] = port
            if user is not None:
                c_info['user'] = user
            if password is not None:
                c_info['password'] = password
            if db is not None:
                c_info['db'] = db
            c_info['charset']= 'utf8mb4'
            c_info['cursorclass'] = pymysql.cursors.DictCursor
                
            cnx = pymysql.connect(**c_info)


    except Exception as e:
        print("Connect failure, e = ", e)
        raise e

    return cnx

### Helper Method for Running Query

__NOTE:__ Do not worry about the commit, cursor, etc. parameters. This is set up for module II topics.

In [4]:
def run_q(cnx=None, q=None, args=None, fetch=False, commit=True, cursor=None, rowid=None):
    """

    :param cnx: Caller supplied connection to use. One is created, if none.
    :param q: Query string
    :param args: Args for insertion to replace %s parameters
    :param fetch: Return the resulting rowset. If False/None, return the response code from
    the cursor operation.
    :param commit: Commit the transaction if true.
    :param cursor: Cursor to use for operation. One is created if None.
    :param rowid: Get and return auto-increment rowid if true.

    :return: Rowset from fetchall, cursor RC or rowid depending of parameters.
    """

    result = None

    try:
        connection_created = False

        if cursor is None:
            if cnx is None:
                cnx = get_connection(c_name=None)
                connection_created = True

            cursor = cnx.cursor()

        qs = cursor.mogrify(q, args)
        #print("Mogrified cursor = ", qs)

        result = cursor.execute(q, args)


        if fetch:
            result = cursor.fetchall()
        else:
            if rowid:
                result = cursor.lastrowid

        if commit:
            cnx.commit()
        if connection_created:
            cnx.close()

    except pymysql_exceptions as original_e:
        print("Original exception = ", original_e)

        if commit:
            cnx.rollback()

        if connection_created:
            cnx.close()

        raise (original_e)

    return result

In [5]:
run_q(cnx=None, q="select playerID, nameLast, nameFirst from people where playerid = %s", 
      args=('willite01'), fetch=True)

[{'playerID': 'willite01', 'nameLast': 'Williams', 'nameFirst': 'Ted'}]

# SQL Data Manipulation Language Questions

## Complex Query $-$ Performance Statistics by Year (10 points)

### Question

- Use the ```lahman2017raw``` database/schema.


- Create an annual performance summary table using a single query statement. 


- The columns are:
    - From ```people:``` ``` playerID, nameLast, nameFirst, birthYear, deathYear, bats, throws```
    - From ```appeareances:``` ```teamid, yearid, g_all```
    - From ```batting:``` 
        - The underlying columns are ```ab, h, hr, rbi```
        - The row for a ```teamID, yearID``` is the sum for the year.
    - From ```fielding:``` 
        - The underlying columns are ```a, e, po```
        - The row for a ```teamID, yearID``` is the sum for the year.
    - From ```pitching:``` 
        - The underlying columns are ```g, w, l```
        - The row for a ```teamID, yearID``` is the sum for the year.


- Test your result for playerID 'martipe02'


- __Note:__
- Your query must produce the correct results for any ```playerID.``` We will text using other ```playerIDs.```
- Your column names and values __MUST__ match the same answer.

### Answer

In [50]:
%%sql 
SELECT 
    people.playerid, people.nameLast, people.nameFirst, birthYear, 
    if(length(deathYear) > 0, deathYear, "--") as deathYear, bats, throws, 
    appearances.teamid, appearances.yearid, appearances.g_all,
    ifnull(batting_year.ab, 0) as ab, ifnull(batting_year.h, 0) as h, 
    ifnull(batting_year.hr, 0) as hr, ifnull(batting_year.rbi, 0) as rbi,
    ifnull(fielding_year.a, 0) as a, ifnull(fielding_year.e, 0) as e, ifnull(fielding_year.po, 0) as po,
    ifnull(pitching_year.g, 0) as g, ifnull(pitching_year.w, 0) as w, ifnull(pitching_year.l, 0) as l 
from people LEFT JOIN appearances using(playerid) 
    LEFT JOIN 
        ((SELECT playerid, teamid, yearid, sum(ab) as ab, sum(h) as h, sum(hr) as hr, sum(rbi) as rbi 
                from batting 
            group by playerid, teamid, yearid) as batting_year)
    ON
            appearances.playerid = batting_year.playerid and 
            appearances.teamid = batting_year.teamid and 
            appearances.yearid = batting_year.yearid
    LEFT JOIN 
        ((SELECT playerid, teamid, yearid, sum(a) as a, sum(e) as e, sum(po) as po
                from fielding 
            group by playerid, teamid, yearid) as fielding_year)
    ON 
            appearances.playerid = fielding_year.playerid and 
            appearances.teamid = fielding_year.teamid and 
            appearances.yearid = fielding_year.yearid
    LEFT JOIN
        ((SELECT playerid, yearid, teamid, sum(g) as g, sum(w) as w, sum(l) as l
                from pitching
            group by playerid, teamid, yearid) as pitching_year)
    ON
            appearances.playerid = pitching_year.playerid and 
            appearances.teamid = pitching_year.teamid and 
            appearances.yearid = pitching_year.yearid
    where 
        people.playerid = 'martipe02';

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
18 rows affected.

[('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '1998', '33', 7.0, 0.0, 0.0, 0.0, 18.0, 4.0, 11.0, 33.0, 19.0, 7.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '1999', '31', 2.0, 0.0, 0.0, 0.0, 15.0, 1.0, 13.0, 31.0, 23.0, 4.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2000', '29', 0.0, 0.0, 0.0, 0.0, 28.0, 0.0, 14.0, 29.0, 18.0, 6.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2001', '18', 0.0, 0.0, 0.0, 0.0, 5.0, 0.0, 5.0, 18.0, 7.0, 3.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2002', '30', 5.0, 0.0, 0.0, 0.0, 16.0, 2.0, 16.0, 30.0, 20.0, 4.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2003', '29', 3.0, 0.0, 0.0, 0.0, 20.0, 0.0, 14.0, 29.0, 14.0, 4.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'BOS', '2004', '33', 2.0, 0.0, 0.0, 0.0, 16.0, 1.0, 16.0, 33.0, 16.0, 9.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'LAN', '1992', '2', 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 1.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'LAN', '1993', '66', 4.0, 0.0, 0.0, 0.0, 4.0, 0.0, 4.0, 65.0, 10.0, 5.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1994', '24', 44.0, 4.0, 0.0, 5.0, 15.0, 4.0, 9.0, 24.0, 11.0, 5.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1995', '30', 63.0, 7.0, 0.0, 2.0, 23.0, 2.0, 14.0, 30.0, 14.0, 10.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1996', '33', 64.0, 6.0, 0.0, 4.0, 17.0, 3.0, 11.0, 33.0, 13.0, 10.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'MON', '1997', '31', 69.0, 8.0, 0.0, 0.0, 31.0, 1.0, 7.0, 31.0, 17.0, 8.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2005', '31', 69.0, 6.0, 0.0, 1.0, 19.0, 0.0, 6.0, 31.0, 15.0, 8.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2006', '23', 38.0, 4.0, 0.0, 1.0, 13.0, 5.0, 7.0, 23.0, 9.0, 8.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2007', '5', 9.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 5.0, 3.0, 1.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'NYN', '2008', '20', 39.0, 6.0, 0.0, 4.0, 17.0, 0.0, 6.0, 20.0, 5.0, 6.0),
 ('martipe02', 'Martinez', 'Pedro', '1971', '--', 'R', 'R', 'PHI', '2009', '9', 14.0, 1.0, 0.0, 1.0, 6.0, 0.0, 1.0, 9.0, 5.0, 1.0)]

### Notes, Comments

__Note:__
- You may add any comments or clarifications here.
- This is optional.
- Double click on this cell/text to open the Markdown edit box.
- You do not need to use markdown and can just enter text.
- There are many Markdown tutorials on the web, e.g. [this tutorial](https://www.markdowntutorial.com/)

## Determine People who Played for and Managed the Same Team in their Career<br> (10 points)

### Question

- A person (```playerID```) played for a team (```teamID```) if there is an entry for the ```playerid, teamid``` combination in ```appearances.```


- A person (```playerID```) managed a team (```teamID```) if there is an entry for the ```playerid, teamid``` combination in ```managers.```


- Write a query that returns a table containing rows for people who played for and managed the same team, but not necessarily in the same year.


- The resulting table should have the following columns:
    - From ```people: playerID``` and first_name, last_name
    - From ```appearances: teamID``` and the total games played for the team
    - From ```Managers:``` the total number of games managed.
    - The result should also contain: ```first_year, last_year.``` first_year is the earliest of the first row in ```managers``` or ```players``` and last_year is the latest year the person played or managed for the team.
    

- The resulting table __MUST__
    - Be ordered by last_year, descending and use limit 10.
    - Match the column names, column values, etc. in the sample answer.


- Your query may use only one ```JOIN.```

### Answer

In [12]:
%%sql
SELECT a.playerid, 
    (SELECT nameLast from people where a.playerid = people.playerid) as last_name,
    (SELECT nameFirst from people where a.playerid = people.playerid) as first_name,   
    a.teamid, a.games as g_played, b.manager_games as g_managed,
    if(a.min_player_year < b.min_manager_year, a.min_player_year, b.min_manager_year) as first_year, 
    if(a.max_player_year > b.max_manager_year, a.max_player_year, b.max_manager_year) as last_year,
    (a.games + b.manager_games) as total_g
    from
        (SELECT playerid, teamid, sum(g_all) as games, min(yearid) as min_player_year, max(yearid) as max_player_year
        from appearances group by playerid, teamid) as a
    JOIN
        (SELECT playerid, teamid, sum(g) as manager_games, min(yearid) as min_manager_year, max(yearid) as max_manager_year
        from managers group by playerid, teamid) as b
    ON
        a.playerid = b.playerid and a.teamid = b.teamid
    order by
        last_year desc
    
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('ausmubr01', 'Ausmus', 'Brad', 'DET', 352.0, 646.0, '1996', '2017', 998.0),
 ('cashke01', 'Cash', 'Kevin', 'TBA', 13.0, 486.0, '2005', '2017', 499.0),
 ('counscr01', 'Counsell', 'Craig', 'MIL', 711.0, 461.0, '2004', '2017', 1172.0),
 ('francte01', 'Francona', 'Terry', 'CLE', 62.0, 808.0, '1988', '2017', 870.0),
 ('girarjo01', 'Girardi', 'Joe', 'NYA', 379.0, 1620.0, '1996', '2017', 1999.0),
 ('mackape01', 'Mackanin', 'Pete', 'PHI', 18.0, 412.0, '1978', '2017', 430.0),
 ('mathemi01', 'Matheny', 'Mike', 'SLN', 622.0, 972.0, '2000', '2017', 1594.0),
 ('molitpa01', 'Molitor', 'Paul', 'MIN', 422.0, 486.0, '1996', '2017', 908.0),
 ('roberda07', 'Roberts', 'Dave', 'LAN', 302.0, 324.0, '2002', '2017', 626.0),
 ('venturo01', 'Ventura', 'Robin', 'CHA', 1254.0, 810.0, '1989', '2016', 2064.0)]

### Notes, Comments

## Determining Lifespan (10 points)

### Question

1. A person was a player if their playerID appears in ```Lahman2017.appearances.```
<br><br>
1. A person is "known to be dead" if ```people.deathYear``` is NOT ```''``` (the empty string)
<br><br>
1. Return a table that contains the ten players and former players known to be dead with the longest lifespans. The table's rows should contain:
    - playerID
    - nameLast
    - nameFirst
    - DOD (Date of Death) in the format (YYYY-MM-DD)
    - DOB (Date if Birth) in the format (YYYY-MM-DD)
    - lifespan, number of days between DOD and DOB, in days.
<br><br>
1. Your table must match the column names and column values in the sample answer.

### Answer

In [167]:
%%sql
SELECT playerID, nameLast, nameFirst,
    str_to_date(concat(if(birthMonth = "", NULL, birthMonth), "/",
                       if(birthDay = "", NULL, birthDay), "/",
                       if(birthYear = "", NULL, birthYear)), "%m/%d/%Y") as DOB,
    str_to_date(concat(if(deathMonth = "", NULL, deathMonth), "/",
                       if(deathDay = "", NULL, deathDay), "/",
                       if(deathYear = "", NULL, deathYear)), "%m/%d/%Y") as DOD,
    (-1*datediff(str_to_date(concat(if(birthMonth = "", NULL, birthMonth), "/",
                       if(birthDay = "", NULL, birthDay), "/",
                       if(birthYear = "", NULL, birthYear)), "%m/%d/%Y"),
                            str_to_date(concat(if(deathMonth = "", NULL, deathMonth), "/",
                       if(deathDay = "", NULL, deathDay), "/",
                       if(deathYear = "", NULL, deathYear)), "%m/%d/%Y"))) as life_span
    from peopleclean where playerid in (SELECT playerid from appearances) and 
                 (-1*datediff(str_to_date(concat(if(birthMonth = "", NULL, birthMonth), "/",
                       if(birthDay = "", NULL, birthDay), "/",
                       if(birthYear = "", NULL, birthYear)), "%m/%d/%Y"),
                            str_to_date(concat(if(deathMonth = "", NULL, deathMonth), "/",
                       if(deathDay = "", NULL, deathDay), "/",
                       if(deathYear = "", NULL, deathYear)), "%m/%d/%Y"))) is not NULL
    order by life_span desc

limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('hoffch01', 'Hoff', 'Red', datetime.date(1891, 5, 8), datetime.date(1998, 9, 17), 39213),
 ('marreco01', 'Marrero', 'Connie', datetime.date(1911, 4, 25), datetime.date(2014, 4, 23), 37619),
 ('wrighbo01', 'Wright', 'Bob', datetime.date(1891, 12, 13), datetime.date(1993, 7, 30), 37119),
 ('parkeac01', 'Parker', 'Ace', datetime.date(1912, 5, 17), datetime.date(2013, 11, 6), 37063),
 ('malinto01', 'Malinosky', 'Tony', datetime.date(1909, 10, 7), datetime.date(2011, 2, 8), 37014),
 ('swanska01', 'Swanson', 'Karl', datetime.date(1900, 12, 17), datetime.date(2002, 4, 3), 36997),
 ('daleyjo01', 'Daley', 'John', datetime.date(1887, 5, 25), datetime.date(1988, 8, 31), 36988),
 ('otisbi01', 'Otis', 'Bill', datetime.date(1889, 12, 24), datetime.date(1990, 12, 15), 36880),
 ('stilero01', 'Stiles', 'Rollie', datetime.date(1906, 11, 17), datetime.date(2007, 7, 22), 36772),
 ('werbebi01', 'Werber', 'Billy', datetime.date(1908, 6, 20), datetime.date(2009, 1, 22), 36741)]

### Notes, Comments

## Odd Hall of Fame Members (10 points)

### Question

1. Use the table ```HallOfFame.``` A person is in the ```HallOfFame``` if there is a row with ```inducted='Y'```
<br><br>
1. A person was a player in __Major League Baseball__ if their ```playerID``` is in ```Appearances``` and a manager if their ```playerID``` is in ```Managers.```
<br><br>
1. Write a query that returns
    - playerID, nameLast, nameFirst, inducted, yearid, category
    - For people in the ```HallOfFame``` who were not players or managers in Major League Baseball.
<br><br>
1. Your answer __MUST__ match the sample answer.

### Answer

In [40]:
%%sql
SELECT playerid, 
    (SELECT nameLast from people where people.playerid = HallOfFame.playerid) as nameLast,
    (SELECT nameFirst from people where people.playerid = HallOfFame.playerid) as nameFirst,
    inducted, category, yearid 
from 
    HallOfFame 
where 
    playerid not in (SELECT playerid from appearances) and
    playerid not in (SELECT playerid from managers) and 
    inducted = 'Y'

order by yearid asc
    
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('bulkemo99', 'Bulkeley', 'Morgan', 'Y', 'Pioneer/Executive', '1937'),
 ('johnsba99', 'Johnson', 'Ban', 'Y', 'Pioneer/Executive', '1937'),
 ('cartwal99', 'Cartwright', 'Alexander', 'Y', 'Pioneer/Executive', '1938'),
 ('chadwhe99', 'Chadwick', 'Henry', 'Y', 'Pioneer/Executive', '1938'),
 ('landike99', 'Landis', 'Kenesaw', 'Y', 'Pioneer/Executive', '1944'),
 ('connoto99', 'Connolly', 'Tommy', 'Y', 'Umpire', '1953'),
 ('klembi99', 'Klem', 'Bill', 'Y', 'Umpire', '1953'),
 ('frickfo99', 'Frick', 'Ford', 'Y', 'Pioneer/Executive', '1970'),
 ('weissge99', 'Weiss', 'George', 'Y', 'Pioneer/Executive', '1971'),
 ('gibsojo99', 'Gibson', 'Josh', 'Y', 'Player', '1972')]

### Notes, Comments

## Teams that Played in Boston (10 points)

### Question

1. The ```Teams``` table contains information about teams and their seasons. Interesting columns are:
    - ```teamID```
    - ```franchID```
    - ```name```
    - ```park,``` which is the name of the facility (stadium) in which the team played.
<br><br>
1. The ```Parks``` table contains information about park names, their cities and states.
<br><br>
1. JOINing ```Teams``` and ```Parks``` should enable finding teams that played in cities, except the ```Teams``` table and ```Parks``` table sometimes have slightly different names for the park/stadium. This requires matching instead equality.
<br><br>
1. Write a query that returns the ```teamID, franchID, team name, park.name``` from ```Parks``` for all teams that played in Boston.
<br><br>
1. Your answer __MUST__ exactly match the sample answer.

### Answer

In [53]:
%%sql
SELECT distinct teamid, franchid, a.team_name, b.`park.name`
    from
        (SELECT distinct teamid, franchid, name as team_name, park from Teams where park != "") as a
    JOIN 
        (SELECT * from Parks) as b
    where
        b.city = 'Boston' and a.park like concat('%', b.`park.name`, '%')
order by team_name;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
20 rows affected.

[('BSN', 'ATL', 'Boston Beaneaters', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Beaneaters', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Beaneaters', 'Congress Street Grounds'),
 ('BSN', 'ATL', 'Boston Beaneaters', 'South End Grounds III'),
 ('BSN', 'ATL', 'Boston Bees', 'Braves Field'),
 ('BSN', 'ATL', 'Boston Braves', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Braves', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Braves', 'South End Grounds III'),
 ('BSN', 'ATL', 'Boston Braves', 'Fenway Park'),
 ('BSN', 'ATL', 'Boston Braves', 'Braves Field'),
 ('BSN', 'ATL', 'Boston Doves', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Doves', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Doves', 'South End Grounds III'),
 ('BSN', 'ATL', 'Boston Red Caps', 'South End Grounds I'),
 ('BOS', 'BOS', 'Boston Red Sox', 'Fenway Park'),
 ('BS1', 'BNA', 'Boston Red Stockings', 'South End Grounds I'),
 ('BS2', 'BRS', 'Boston Reds', 'Congress Street Grounds'),
 ('BSN', 'ATL', 'Boston Rustlers', 'South End Grounds I'),
 ('BSN', 'ATL', 'Boston Rustlers', 'South End Grounds II'),
 ('BSN', 'ATL', 'Boston Rustlers', 'South End Grounds III')]

### Notes, Comments

- Two point bonus question: Why would someone name a team in Boston the "Beaneaters?"


- Hint: Below is part of a famous toast,

_"And this is good old Boston, <br>
The home of the bean and the cod. <br>
Where the Lowells talk only to Cabots, <br>
And the Cabots talk only to God."_ <br>
<br>
John Collins Bossidy: A toast given at Holy Cross College alumni dinner in 1910.


- I guess this is because Boston is home of baked beans. Thus people in Boston like eating beans and they call their team beaneaters.

# Relational/Document Mapping (15 points)

## Question

### Schema

- Tables: The two tables below represent ```Orders``` and ```OrderDetails```


- ```orderdetails``` is a [Weak Entity](https://en.wikipedia.org/wiki/Weak_entity) that depends on and is logically contained inside an ```order.```

```
CREATE TABLE `orders` (
  `orderNumber` int(11) NOT NULL,
  `orderDate` date NOT NULL,
  `requiredDate` date NOT NULL,
  `shippedDate` date DEFAULT NULL,
  `status` varchar(15) NOT NULL,
  `comments` text,
  `customerNumber` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `orderdetails` (
  `orderNumber` int(11) NOT NULL,
  `productCode` varchar(15) NOT NULL,
  `quantityOrdered` int(11) NOT NULL,
  `priceEach` decimal(10,2) NOT NULL,
  `orderLineNumber` smallint(6) NOT NULL,
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- You must create the tables in a new schema you create. The schema name is of the form "uni_midterm" Please replace the string "uni" with your UNI. If your answer does do the replacement and your schema is "uni_midterm", we will chuckle and shake our heads.


- You also must define a primary key in each table and any foreign key relationships. ```orderNumber``` is the primary key in ```orders.```

### Question Tasks

1. Create the tables in a schema called `uni_midterm` and replace "uni" with your UNI.
<br><br>
1. Write a python function ```create_order(o)``` that
    1. Takes a data structure like the one below.
    2. Inserts the order fields in the ```order``` table and the order details information in the ```orderdetails``` table.
    3. There are sample JSON for orders/ordersdetails below.
<br><br>
1. Your code must generate a unique ```orderNumber``` for the created order.
<br><br>
1. The function returns the ```orderNumber``` for the created order.
<br><br>
1. You may modify the table schema if you want.
<br><br>
1. Test your function on the two orders below.
<br><br>
1. Write a SQL query that returns information about an order and its details.

```
{
    "order":
        {
            "orderDate": "2003-01-06",
            "requiredDate": "2003-01-13",
            "shippedDate": "2003-01-10",
            "status": "Shipped",
            "comments": null,
            "customerNumber": 363
        },
    "orderdetails": 
        [
        {
            "productCode": "S24_3969",
            "quantityOrdered": 49,
            "priceEach": "35.29",
            "orderLineNumber": 1
        },
        {
            "productCode": "S18_2248",
            "quantityOrdered": 50,
            "priceEach": "55.09",
            "orderLineNumber": 2
        },
        {
            "productCode": "S18_1749",
            "quantityOrdered": 30,
            "priceEach": "136.00",
            "orderLineNumber": 3
        },
        {
            "productCode": "S18_4409",
            "quantityOrdered": 22,
            "priceEach": "75.46",
            "orderLineNumber": 4
        }
    ]
}
```

```
{
    "order":
        "orderDate": "2003-01-09",
        "requiredDate": "2003-01-18",
        "shippedDate": "2003-01-11",
        "status": "Shipped",
        "comments": "Check on availability.",
        "customerNumber": 128
    }
    "orderdetails": [
    {
            "orderNumber": 10101,
            "productCode": "S18_2795",
            "quantityOrdered": 26,
            "priceEach": "167.06",
            "orderLineNumber": 1
        },
        {
            "orderNumber": 10101,
            "productCode": "S24_2022",
            "quantityOrdered": 46,
            "priceEach": "44.35",
            "orderLineNumber": 2
        },
        {
            "orderNumber": 10101,
            "productCode": "S24_1937",
            "quantityOrdered": 45,
            "priceEach": "32.53",
            "orderLineNumber": 3
        },
        {
            "orderNumber": 10101,
            "productCode": "S18_2325",
            "quantityOrdered": 25,
            "priceEach": "108.06",
            "orderLineNumber": 4
        }
    ]
}
```

## Answer

### Schema and Table Creation

In [76]:
%%sql
create schema xw2566_midterm

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
(pymysql.err.ProgrammingError) (1007, "Can't create database 'xw2566_midterm'; database exists") [SQL: 'create schema xw2566_midterm'] (Background on this error at: http://sqlalche.me/e/f405)

In [142]:
%%sql 
use xw2566_midterm

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [56]:
%%sql
CREATE TABLE `orders` (
  `orderNumber` int(11) NOT NULL,
  `orderDate` date NOT NULL,
  `requiredDate` date NOT NULL,
  `shippedDate` date DEFAULT NULL,
  `status` varchar(15) NOT NULL,
  `comments` text,
  `customerNumber` int(11) NOT NULL,
  PRIMARY KEY (`orderNumber`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `orderdetails` (
  `orderNumber` int(11) NOT NULL,
  `productCode` varchar(15) NOT NULL,
  `quantityOrdered` int(11) NOT NULL,
  `priceEach` decimal(10,2) NOT NULL,
  `orderLineNumber` smallint(6) NOT NULL,
  PRIMARY KEY (`orderNumber`, `orderLineNumber`),
  KEY `ol_to_p_idx` (`productCode`),
  CONSTRAINT `od_to_o` FOREIGN KEY (`orderNumber`) REFERENCES `orders` (`orderNumber`) 
    ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
0 rows affected.

[]

### Python Functions

In [58]:
def get_maximum_value(dbname, tablename, column, cursor=None, commit=True):
    result2= None
    
    q = "select max(" + column + ") as max_v from " + dbname + "." + tablename
    
    result = run_q(cnx=None, q=q, args=None, commit=commit, cursor=cursor, fetch=True)
    
    if result and len(result) > 0:
        result2 = result[0].get("max_v", None)
        if result2 is None:
            result2 = 0
    else:
        result2 = 0
    return result2

In [60]:
def insert(dbname, tablename, new_r, cnx=None, cursor=None, commit=None, rowid=None):
    cols = list(new_r.keys())
    args = [new_r[k] for k in cols]
    
    slots = ['%s' for c in cols]
    
    cols = " (" + ",".join(cols) + ") "
    vals = " values(" + ",".join(slots) + ") "
    tbl = dbname + "." + tablename
    
    q = "insert into " + tbl + " " + cols + " " + vals
    result = run_q(cnx=cnx, q=q, args=args, commit=commit, rowid=rowid, cursor=cursor)
    
    return result

def insert_doc(dbname, doc, key_col, cursor=None, commit=None):
    cnx = get_connection("docs",
                        host = "localhost",
                        port = 3306,
                        db = "xw2566_midterm",
                        user = "dbuser",
                        password = "dbuserdbuser")
    
    try:
        cursor = cnx.cursor()
        
        keys = list(doc.keys())
        
        pk = keys[0]
        max_v = get_maximum_value(dbname, keys[0], key_col, cursor=cursor, commit=False)
        
        max_v += 1
        root = doc[keys[0]]
        root[key_col] = max_v
        
        r = insert(dbname, keys[0], doc[keys[0]], cursor=cursor, commit=False)
        
        for k in keys[1:]:
            tbl = doc[k]
            
            for r in tbl:
                
                r[key_col] = max_v
            
                tmp = insert(dbname, k, r, cursor=cursor, commit=False)
            
        cnx.commit()
        cnx.close()
        
    except Exception as e:
        print("Exception = ", e)
        cnx.commit()
        cnx.close()
        
    return max_v

### Tests

We __MAY__ test your code and SQL statements.

#### Test Data

In [61]:
o_all_1 = {
    "orders":
        {
            "orderDate": "2003-01-06",
            "requiredDate": "2003-01-13",
            "shippedDate": "2003-01-10",
            "status": "Shipped",
            "comments": None,
            "customerNumber": 363
        },
    "orderdetails": 
        [
        {
            "productCode": "S24_3969",
            "quantityOrdered": 49,
            "priceEach": "35.29",
            "orderLineNumber": 1
        },
        {
            "productCode": "S18_2248",
            "quantityOrdered": 50,
            "priceEach": "55.09",
            "orderLineNumber": 2
        },
        {
            "productCode": "S18_1749",
            "quantityOrdered": 30,
            "priceEach": "136.00",
            "orderLineNumber": 3
        },
        {
            "productCode": "S18_4409",
            "quantityOrdered": 22,
            "priceEach": "75.46",
            "orderLineNumber": 4
        }
    ]
}

In [62]:
o_all_2 = {
    "orders":
        {
            "orderDate": "2003-01-06",
            "requiredDate": "2003-01-13",
            "shippedDate": "2003-01-10",
            "status": "Shipped",
            "comments": None,
            "customerNumber": 363
        },
    "orderdetails": 
        [
        {
            "productCode": "S24_3969",
            "quantityOrdered": 49,
            "priceEach": "35.29",
            "orderLineNumber": 1
        },
        {
            "productCode": "S18_2248",
            "quantityOrdered": 50,
            "priceEach": "55.09",
            "orderLineNumber": 2
        },
        {
            "productCode": "S18_1749",
            "quantityOrdered": 30,
            "priceEach": "136.00",
            "orderLineNumber": 3
        },
        {
            "productCode": "S18_4409",
            "quantityOrdered": 22,
            "priceEach": "75.46",
            "orderLineNumber": 4
        }
    ]
}

#### Test Execution

In [64]:
insert_doc('xw2566_midterm', o_all_1, 'orderNumber')

1

In [69]:
insert_doc('xw2566_midterm', o_all_2, 'orderNumber')

2

#### SQL Query

In [67]:
%%sql 
SELECT * from xw2566_midterm.orders

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363)]

In [68]:
%%sql
SELECT * from xw2566_midterm.orderdetails

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
4 rows affected.

[(1, 'S24_3969', 49, Decimal('35.29'), 1),
 (1, 'S18_2248', 50, Decimal('55.09'), 2),
 (1, 'S18_1749', 30, Decimal('136.00'), 3),
 (1, 'S18_4409', 22, Decimal('75.46'), 4)]

In [70]:
%%sql
SELECT * from xw2566_midterm.orders join xw2566_midterm.orderdetails using(orderNumber)

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
8 rows affected.

[(1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S24_3969', 49, Decimal('35.29'), 1),
 (1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_2248', 50, Decimal('55.09'), 2),
 (1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_1749', 30, Decimal('136.00'), 3),
 (1, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_4409', 22, Decimal('75.46'), 4),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S24_3969', 49, Decimal('35.29'), 1),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_2248', 50, Decimal('55.09'), 2),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_1749', 30, Decimal('136.00'), 3),
 (2, datetime.date(2003, 1, 6), datetime.date(2003, 1, 13), datetime.date(2003, 1, 10), 'Shipped', None, 363, 'S18_4409', 22, Decimal('75.46'), 4)]

## Notes, Comments

# Data Modeling (15 points)

## Question

- __Note:__ Use the schema uni_midterm for these tables.


- The _Contact_ application's conceptual data model has the following _conceptual entities and properties._ 


- The properties in the _conceptual model do not necessarily map directly to columns_ in the _logical_ and _physical_ models.


- _Person:_

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 21 | Auto-incremented; primary key |
| Name | String | "Donald Ferguson" | |
| Created | Datetime | 2019-03-06 10:51:59 | |


<br>
- _Email:_ 

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 21 | Auto-incremented; primary key |
| email | String | "dff9@mars.gov" | |


<br><br>
- _Phone:_ 

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 11 | Auto-incremented; primary key |
| Phone | String | "+1 914-555-1212" | |

<br>
<br>
- _Address:_ 

| Property | Type | Example | Comments |
| :---: | :---: |
| id | Integer | 101 | Auto-incremented; primary key |
| Street | String | "620 W. 120th Street" | |
| City | String | "Boston" | |
| State | String | "MA" | |
| Country | String | "France" |
| Postcode | String | "12345" |


- _Contact Types:_ These represents the types of relationships. There can be __at most__ one instance of the relationship between a person and a contact type. For example, a person can have at most one _business email._ The predefined contact types are:
    - _Personal_
    - _Business_
    - _Home_
    - _Other_
    
    
- A _Person_ may have have contacts of more than one type, and a specific contact entity may apply to more than one person.
    
    
- Define and implement a physical schema that realizes the model.
    - Define the tables.
    - Create the reverse engineered model into a diagram.

## Answer

- Your diagram and table create statements go here.

In [151]:
%%sql
--
-- Table structure for table `countries`
--

CREATE TABLE `countries` (
        `Name` varchar(128) NOT NULL,
        `Code` varchar(4) NOT NULL,
        PRIMARY KEY (`Code`),
        UNIQUE KEY `Name_UNIQUE` (`Name`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;


--
-- Table structure for table `states`
--

CREATE TABLE `states` (
        `state_id` int(11) NOT NULL AUTO_INCREMENT,
        `name` varchar(128) NOT NULL,
        `country_code` varchar(4) NOT NULL,
        PRIMARY KEY (`state_id`),
        KEY `s_to_c_idx` (`country_code`),
        CONSTRAINT `s_to_c` FOREIGN KEY (`country_code`) REFERENCES `countries` (`Code`) 
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;


--
-- Table structure for table `cities`
--

CREATE TABLE `cities` (
        `city_id` int(11) NOT NULL AUTO_INCREMENT,
        `city_name` varchar(128) NOT NULL,
        `country_code` varchar(4) NOT NULL,
        `state_code` int(11) NOT NULL,
        PRIMARY KEY (`city_id`),
        KEY `c_to_s_idx` (`state_code`),
        CONSTRAINT `c_to_s` FOREIGN KEY (`state_code`) REFERENCES `states` (`state_id`) 
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;


--
-- Table structure for table `phoneinfos`
--

CREATE TABLE `phoneinfos` (
        `phone_info_id` int(11) NOT NULL AUTO_INCREMENT,
        `country_code` int(11) NOT NULL,
        `phone_number` varchar(45) NOT NULL,
        PRIMARY KEY (`phone_info_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=latin1;


--
-- Table structure for table `emails`
--

CREATE TABLE `emails` (
        `email_id` int(11) NOT NULL AUTO_INCREMENT,
        `email_value` varchar(128) CHARACTER SET utf8 NOT NULL,
        PRIMARY KEY (`email_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=latin1;


--
-- Table structure for table `persons`
--

CREATE TABLE `persons` (
        `person_id` int(11) NOT NULL AUTO_INCREMENT,
        `last_name` varchar(128) NOT NULL,
        `first_name` varchar(128) NOT NULL,
        `person_created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (`person_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=latin1;


--
-- Table structure for table `postalcodes`
--

CREATE TABLE `postalcodes` (
        `postal_code_id` int(11) NOT NULL AUTO_INCREMENT,
        `postal_code` varchar(45) NOT NULL,
        `city_code` int(11) NOT NULL,
        `state_code` int(11) NOT NULL,
        `country_code` varchar(4) NOT NULL,
        PRIMARY KEY (`postal_code_id`),
        KEY `pc_to_country_idx` (`country_code`),
        KEY `pc_to_state_idx` (`state_code`),
        KEY `pc_to_city_idx` (`city_code`),
        CONSTRAINT `pc_to_city` FOREIGN KEY (`city_code`) REFERENCES `cities` (`city_id`) 
        ON DELETE NO ACTION ON UPDATE NO ACTION,
        CONSTRAINT `pc_to_country` FOREIGN KEY (`country_code`) REFERENCES `countries` (`Code`) 
        ON DELETE NO ACTION ON UPDATE NO ACTION,
        CONSTRAINT `pc_to_state` FOREIGN KEY (`state_code`) REFERENCES `states` (`state_id`) 
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;


--
-- Table structure for table `addresses`
--

CREATE TABLE `addresses` (
        `address_id` int(11) NOT NULL AUTO_INCREMENT,
        `street1` varchar(128) NOT NULL,
        `street2` varchar(128) NOT NULL,
        `postal_code` int(11) NOT NULL,
        PRIMARY KEY (`address_id`),
        KEY `addr_to_pc_idx` (`postal_code`),
        CONSTRAINT `addr_to_pc` FOREIGN KEY (`postal_code`) REFERENCES `postalcodes` (`postal_code_id`) 
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;


--
-- Table structure for table `person_address`
--

CREATE TABLE `person_address` (
        `person_id` int(11) NOT NULL,
        `address_id` int(11) NOT NULL,
        `kind` enum('PERSONAL', 'HOME', 'BUSINESS', 'OTHER') CHARACTER SET utf8 NOT NULL,
        PRIMARY KEY (`person_id`, `address_id`, `kind`),
        KEY `add_to_add_idx` (`address_id`),
        CONSTRAINT `add_to_add` FOREIGN KEY (`address_id`) REFERENCES `addresses` (`address_id`)
        ON DELETE NO ACTION ON UPDATE NO ACTION,
        CONSTRAINT `add_to_p` FOREIGN KEY (`person_id`) REFERENCES `persons` (`person_id`)
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=latin1;


--
-- Table structure for table `person_email`
--

CREATE TABLE `person_email` (
        `person_id` int(11) NOT NULL,
        `email_id` int(11) NOT NULL,
        `kind` enum('PERSONAL', 'HOME', 'BUSINESS', 'OTHER') CHARACTER SET utf8 NOT NULL,
        PRIMARY KEY (`person_id`, `email_id`, `kind`),
        KEY `e_to_e_idx` (`email_id`),
        CONSTRAINT `e_to_e` FOREIGN KEY (`email_id`) REFERENCES `emails` (`email_id`)
        ON DELETE NO ACTION ON UPDATE NO ACTION,
        CONSTRAINT `e_to_p` FOREIGN KEY (`person_id`) REFERENCES `persons` (`person_id`)
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=latin1;


--
-- Table structure for table `person_phone`
--

CREATE TABLE `person_phone` (
        `person_id` int(11) NOT NULL,
        `phone_id` int(11) NOT NULL,
        `kind` enum('PERSONAL', 'HOME', 'BUSINESS', 'OTHER') CHARACTER SET utf8 NOT NULL,
        PRIMARY KEY (`person_id`, `phone_id`, `kind`),
        KEY `p_to_ph_idx` (`phone_id`),
        CONSTRAINT `p_to_ph` FOREIGN KEY (`phone_id`) REFERENCES `phoneinfos` (`phone_info_id`)
        ON DELETE NO ACTION ON UPDATE NO ACTION,
        CONSTRAINT `p_to_per` FOREIGN KEY (`person_id`) REFERENCES `persons` (`person_id`)
        ON DELETE NO ACTION ON UPDATE NO ACTION
        ) ENGINE=InnoDB DEFAULT CHARSET=latin1;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

![](diagram.png)

## Notes and Comments

# Data Cleanse (15 points)

## Question

- Importing raw data from CSV files and other sources is very common in all disciplines that use databases. 


- Data science, analytics and general application development regularly require cleaning up the raw data.


- ```People``` from Lahman2017 is an example of raw data that requires schema and data cleanup. The table definition that the MySql import tool produces is below.


- Convert the table to a cleaner, more useful form. You do not need to worry about other tables and foreign keys. This means:
    - Change the schema (column types, constraints, etc)
    - You may have to consolidate columns, add columns and drop columns.
    - Modify the data to match the schema.
    - Run a query with limit 10 to show the transformed date and schema.


- Do not ask, "How many improvements are necessary?" The answer is, "All of them."

```
CREATE TABLE `People` (
  `playerID` text,
  `birthYear` text,
  `birthMonth` text,
  `birthDay` text,
  `birthCountry` text,
  `birthState` text,
  `birthCity` text,
  `deathYear` text,
  `deathMonth` text,
  `deathDay` text,
  `deathCountry` text,
  `deathState` text,
  `deathCity` text,
  `nameFirst` text,
  `nameLast` text,
  `nameGiven` text,
  `weight` text,
  `height` text,
  `bats` text,
  `throws` text,
  `debut` text,
  `finalGame` text,
  `retroID` text,
  `bbrefID` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- Implement the cleanup. This involves:
    - Providing your final table definition.
    - SQL statements you used to probe/examine the data.
    - SQL statements you used to transform the data to comply with the new table definition.
    

## Answer

- The answer below contains the SQL statements you used to
    - Probe the data for understanding.
    - Alter data in the database.
    - Modify the schema.


- We __MAY__ test your SQL.

In [153]:
%%sql
use lahman2017raw

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [358]:
%%sql 
SELECT count(*) as total_rows,
    count(distinct(playerid)) as count_playerID,
    count(distinct(nameLast)) as count_nameLast,
    count(distinct(bats)) as count_bats,
    count(distinct(retroID)) as count_retroID,
    count(distinct(bbrefid)) as count_bbrefID
    from peopleclean;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(19370, 19370, 9930, 4, 19315, 19370)]

In [359]:
%%sql
SELECT * from information_schema.columns
    where table_schema = 'lahman2017raw'
    and column_name in ('playerID', 'bbredID');

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
21 rows affected.

[('def', 'lahman2017raw', 'AllstarFull', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'Appearances', 'playerID', 4, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'AwardsManagers', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'AwardsPlayers', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'AwardsShareManagers', 'playerID', 4, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'AwardsSharePlayers', 'playerID', 4, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'BattingPost', 'playerID', 3, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'CollegePlaying', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'Fielding', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'FieldingOF', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'FieldingOFsplit', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'FieldingPost', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'HallOfFame', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'Managers', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'ManagersHalf', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'People', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'Pitching', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'PitchingPost', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'Salaries', 'playerID', 4, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'batting', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', ''),
 ('def', 'lahman2017raw', 'peopleclean', 'playerID', 1, None, 'YES', 'text', 65535, 65535, None, None, None, 'utf8', 'utf8_general_ci', 'text', '', '', 'select,insert,update,references', '', '')]

In [360]:
%%sql 
SELECT max(length(playerid)) from lahman2017raw.peopleclean;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(9,)]

### Date

In [361]:
%%sql
SELECT count(distinct birthDay) as count_b_day,
    count(distinct birthMonth) as count_b_month,
    count(distinct birthYear) as count_b_year
    from lahman2017raw.peopleclean

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(32, 13, 167)]

In [158]:
%%sql
SELECT distinct birthMonth from lahman2017raw.peopleclean

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
13 rows affected.

[('12',),
 ('2',),
 ('8',),
 ('9',),
 ('11',),
 ('4',),
 ('10',),
 ('3',),
 ('6',),
 ('7',),
 ('1',),
 ('5',),
 ('',)]

In [159]:
%%sql
SELECT count(*) from lahman2017raw.peopleclean where birthYear = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(126,)]

In [160]:
%%sql
SELECT count(*) from lahman2017raw.peopleclean where birthMonth = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(290,)]

In [161]:
%%sql
SELECT count(*) from lahman2017raw.peopleclean where birthDay = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(435,)]

In [162]:
%%sql
SELECT count(*) from lahman2017raw.peopleclean where deathYear = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(9820,)]

In [163]:
%%sql
SELECT count(*) from lahman2017raw.peopleclean where birthMonth = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(290,)]

In [164]:
%%sql
SELECT count(*) from lahman2017raw.peopleclean where birthDay = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(435,)]

#### convert all the "" values to NULL

In [362]:
%%sql
UPDATE peopleclean SET birthYear = NULL where birthYear = "";  
UPDATE peopleclean SET birthMonth = NULL where birthMonth = "";  
UPDATE peopleclean SET birthDay = NULL where birthDay = "";

UPDATE peopleclean SET deathYear = NULL where deathYear = "";  
UPDATE peopleclean SET deathMonth = NULL where deathMonth = "";  
UPDATE peopleclean SET deathDay = NULL where deathDay = "";

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
126 rows affected.
290 rows affected.
435 rows affected.
9820 rows affected.
9821 rows affected.
9822 rows affected.

[]

#### convert to the DATE format

In [363]:
%%sql
ALTER TABLE `lahman2017raw`.`peopleclean`
ADD COLUMN `DOB` varchar(10) NULL,
ADD COLUMN `DOD` varchar(10) NULL;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [364]:
%%sql
UPDATE peopleclean SET DOB = str_to_date(concat(if(birthMonth = "", NULL, birthMonth), "/",
                       if(birthDay = "", NULL, birthDay), "/",
                       if(birthYear = "", NULL, birthYear)), "%m/%d/%Y");  
UPDATE peopleclean SET DOD = str_to_date(concat(if(deathMonth = "", NULL, deathMonth), "/",
                       if(deathDay = "", NULL, deathDay), "/",
                       if(deathYear = "", NULL, deathYear)), "%m/%d/%Y");

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
19370 rows affected.
19370 rows affected.

[]

In [365]:
%%sql 
SELECT * from peopleclean
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('aardsda01', '1981', '12', '27', 'USA', 'CO', 'Denver', None, None, None, '', '', '', 'David', 'Aardsma', 'David Allan', '215', '75', 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01', '1981-12-27', None),
 ('aaronha01', '1934', '2', '5', 'USA', 'AL', 'Mobile', None, None, None, '', '', '', 'Hank', 'Aaron', 'Henry Louis', '180', '72', 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01', '1934-02-05', None),
 ('aaronto01', '1939', '8', '5', 'USA', 'AL', 'Mobile', '1984', '8', '16', 'USA', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', '190', '75', 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01', '1939-08-05', '1984-08-16'),
 ('aasedo01', '1954', '9', '8', 'USA', 'CA', 'Orange', None, None, None, '', '', '', 'Don', 'Aase', 'Donald William', '190', '75', 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01', '1954-09-08', None),
 ('abadan01', '1972', '8', '25', 'USA', 'FL', 'Palm Beach', None, None, None, '', '', '', 'Andy', 'Abad', 'Fausto Andres', '184', '73', 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01', '1972-08-25', None),
 ('abadfe01', '1985', '12', '17', 'D.R.', 'La Romana', 'La Romana', None, None, None, '', '', '', 'Fernando', 'Abad', 'Fernando Antonio', '220', '73', 'L', 'L', '2010-07-28', '2017-10-01', 'abadf001', 'abadfe01', '1985-12-17', None),
 ('abadijo01', '1850', '11', '4', 'USA', 'PA', 'Philadelphia', '1905', '5', '17', 'USA', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', '192', '72', 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01', '1850-11-04', '1905-05-17'),
 ('abbated01', '1877', '4', '15', 'USA', 'PA', 'Latrobe', '1957', '1', '6', 'USA', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', '170', '71', 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01', '1877-04-15', '1957-01-06'),
 ('abbeybe01', '1869', '11', '11', 'USA', 'VT', 'Essex', '1962', '6', '11', 'USA', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', '175', '71', 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01', '1869-11-11', '1962-06-11'),
 ('abbeych01', '1866', '10', '14', 'USA', 'NE', 'Falls City', '1926', '4', '27', 'USA', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', '169', '68', 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01', '1866-10-14', '1926-04-27')]

## Country, State, City

create a look up table for country, state and city

### Country

In [366]:
%%sql
SELECT * from (SELECT distinct birthcountry from peopleclean as a
              UNION
              SELECT distinct deathcountry from peopleclean as b) as c

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
59 rows affected.

[('USA',),
 ('D.R.',),
 ('Venezuela',),
 ('Cuba',),
 ('Mexico',),
 ('Panama',),
 ('CAN',),
 ('P.R.',),
 ('Russia',),
 ('Curacao',),
 ('Colombia',),
 ('Nicaragua',),
 ('Germany',),
 ('Norway',),
 ('Japan',),
 ('Ireland',),
 ('Italy',),
 ('Bahamas',),
 ('United Kingdom',),
 ('South Korea',),
 ('Australia',),
 ('Czech Republic',),
 ('V.I.',),
 ('Netherlands',),
 ('France',),
 ('Aruba',),
 ('',),
 ('Sweden',),
 ('Hong Kong',),
 ('Afghanistan',),
 ('Spain',),
 ('Greece',),
 ('Taiwan',),
 ('Philippines',),
 ('Jamaica',),
 ('Poland',),
 ('Brazil',),
 ('Viet Nam',),
 ('Guam',),
 ('Denmark',),
 ('Switzerland',),
 ('Austria',),
 ('Singapore',),
 ('China',),
 ('Belgium',),
 ('Belize',),
 ('Indonesia',),
 ('Finland',),
 ('Lithuania',),
 ('South Africa',),
 ('At Sea',),
 ('Slovakia',),
 ('American Samoa',),
 ('Saudi Arabia',),
 ('Honduras',),
 ('Latvia',),
 ('North Korea',),
 ('San Marino',),
 ('Costa Rica',)]

In [368]:
%%sql
CREATE TABLE `lahman2017raw`.`countries` (
        `country_code` INT NOT NULL AUTO_INCREMENT,
        `countryName` VARCHAR(45) NOT NULL,
        PRIMARY KEY (`country_code`));
        
INSERT INTO countries (countryName)
    SELECT country_name from 
        ((SELECT distinct birthcountry as country_name from peopleclean)
        UNION
        (SELECT distinct deathcountry as country_name from peopleclean)) as c;
        
ALTER TABLE `lahman2017raw`.`peopleclean`
ADD COLUMN `birth_country_code` INT NULL AFTER `bbrefID`,
ADD COLUMN `death_country_code` INT NULL AFTER `birth_country_code`;

UPDATE peopleclean
    SET birth_country_code = (SELECT country_code from countries
                             where countries.countryName = peopleclean.birthCountry);
    
UPDATE peopleclean
    SET death_country_code = (SELECT country_code from countries
                             where countries.countryName = peopleclean.deathCountry);

UPDATE peopleclean
    SET birth_country_code = NULL where birthCountry = "";
    
UPDATE peopleclean
    SET death_country_code = NULL where deathCountry = "";   

ALTER TABLE `lahman2017raw`.`peopleclean`
ADD INDEX `p_to_country_idx` (`birth_country_code` ASC);
ALTER TABLE `lahman2017raw`.`peopleclean`
ADD CONSTRAINT `p_to_country`
    FOREIGN KEY (`birth_country_code`)
    REFERENCES `lahman2017raw`.`countries` (`country_code`)
    ON DELETE NO ACTION ON UPDATE NO ACTION;

ALTER TABLE `lahman2017raw`.`peopleclean`
ADD INDEX `d_to_country_idx` (`death_country_code` ASC);
ALTER TABLE `lahman2017raw`.`peopleclean`
ADD CONSTRAINT `d_to_country`
    FOREIGN KEY (`death_country_code`)
    REFERENCES `lahman2017raw`.`countries` (`country_code`)
    ON DELETE NO ACTION ON UPDATE NO ACTION;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
59 rows affected.
0 rows affected.
19370 rows affected.
19370 rows affected.
68 rows affected.
9825 rows affected.
0 rows affected.
19370 rows affected.
0 rows affected.
19370 rows affected.

[]

### States

In [369]:
%%sql
SELECT distinct * from
    (SELECT birth_country_code as country_code, birthState as state_name from peopleclean
    UNION
    SELECT death_country_code as country_code, deathState as state_name  from peopleclean) as a;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
335 rows affected.

[(1, 'CO'),
 (1, 'AL'),
 (1, 'CA'),
 (1, 'FL'),
 (2, 'La Romana'),
 (1, 'PA'),
 (1, 'VT'),
 (1, 'NE'),
 (1, 'OH'),
 (1, 'AR'),
 (1, 'GA'),
 (1, 'MI'),
 (1, 'MA'),
 (1, 'OK'),
 (1, 'NC'),
 (1, 'IL'),
 (1, 'TX'),
 (1, 'WA'),
 (3, 'Aragua'),
 (4, 'Cienfuegos'),
 (2, 'Duarte'),
 (2, 'Puerto Plata'),
 (2, 'Sanchez Ramirez'),
 (1, 'MO'),
 (1, 'AZ'),
 (5, 'Sonora'),
 (2, 'Distrito Nacional'),
 (5, 'Chihuahua'),
 (1, 'NJ'),
 (1, 'WI'),
 (5, 'Sinaloa'),
 (6, 'Chiriqui'),
 (4, 'La Habana'),
 (6, 'Colon'),
 (4, ''),
 (2, 'San Pedro de Macoris'),
 (1, 'IN'),
 (1, 'LA'),
 (1, 'UT'),
 (1, 'NM'),
 (1, 'KY'),
 (7, 'BC'),
 (7, 'ON'),
 (1, 'MD'),
 (1, 'KS'),
 (1, 'WV'),
 (1, 'NY'),
 (3, 'Miranda'),
 (1, 'HI'),
 (8, ''),
 (1, 'SC'),
 (1, 'OR'),
 (9, ''),
 (1, 'SD'),
 (1, 'TN'),
 (2, 'Santiago'),
 (7, 'SK'),
 (10, ''),
 (2, 'Peravia'),
 (2, 'Barahona'),
 (2, 'Azua'),
 (11, 'Sucre'),
 (3, 'Anzoategui'),
 (1, 'MS'),
 (1, 'VA'),
 (1, 'ME'),
 (1, 'CT'),
 (1, 'RI'),
 (2, 'San Cristobal'),
 (12, 'Matagalpa'),
 (13, 'Rhineland-Palatinate'),
 (3, 'Carabobo'),
 (3, 'Zulia'),
 (4, 'Pinar del Rio'),
 (3, 'Distrito Federal'),
 (5, 'Tamaulipas'),
 (4, 'Matanzas'),
 (1, 'DC'),
 (1, 'NV'),
 (14, ''),
 (1, 'MN'),
 (1, 'IA'),
 (15, 'Miyazaki'),
 (5, 'Veracruz'),
 (16, 'Dublin'),
 (17, 'Novara'),
 (18, 'New Providence'),
 (2, 'La Vega'),
 (4, 'Villa Clara'),
 (2, 'Santo Domingo'),
 (2, 'Hato Mayor'),
 (3, 'Lara'),
 (7, 'QC'),
 (19, 'Swansea'),
 (3, 'Sucre'),
 (20, 'Busan'),
 (2, 'Monsenor Nouel'),
 (13, 'Bavaria'),
 (1, 'DE'),
 (21, 'New South Wales'),
 (1, 'MT'),
 (5, 'Durango'),
 (1, 'AK'),
 (11, 'Bolivar'),
 (7, 'AB'),
 (2, 'Samana'),
 (13, 'Berlin'),
 (2, 'Valverde'),
 (3, 'Bolivar'),
 (13, 'Baden-Wurttemberg'),
 (5, 'Baja California'),
 (1, 'NH'),
 (12, 'Atlantico Sur'),
 (21, 'South Australia'),
 (6, 'Cocle'),
 (21, 'Victoria'),
 (17, 'Friuli-Venezia Giulia'),
 (6, 'Panama'),
 (22, ''),
 (17, ''),
 (2, 'San Juan'),
 (23, 'St. Thomas'),
 (24, 'Utrecht'),
 (25, 'Nouvelle-Aquitaine'),
 (26, ''),
 (None, ''),
 (28, ''),
 (16, ''),
 (17, 'Liguria'),
 (20, 'Seoul'),
 (15, 'Tokyo'),
 (19, 'Herefordshire'),
 (29, ''),
 (2, 'Santiago Rodriguez'),
 (30, ''),
 (1, 'ND'),
 (23, 'St. Croix'),
 (7, ''),
 (19, 'Merseyside'),
 (1, 'WY'),
 (19, ''),
 (2, 'Maria Trinidad Sanchez'),
 (6, 'West Panama'),
 (19, 'Manchester'),
 (31, 'Canarias'),
 (3, 'Monagas'),
 (12, 'Granada'),
 (21, 'Queensland'),
 (7, 'NS'),
 (32, 'Dodescanese Isl.'),
 (3, 'Vargas'),
 (3, 'Trujillo'),
 (6, 'Canal Zone'),
 (19, 'Yorkshire'),
 (3, 'Nueva Esparta'),
 (2, 'Elias Pina'),
 (3, 'Guarico'),
 (2, 'Monte Cristi'),
 (4, 'Ciego de Avila'),
 (5, 'Oaxaca'),
 (11, 'Antioquia'),
 (5, 'Nuevo Leon'),
 (4, 'Granma'),
 (19, 'Devon'),
 (19, 'Aberdeen'),
 (4, 'Holguin'),
 (33, ''),
 (12, 'Leon'),
 (3, 'Falcon'),
 (20, 'South Jeolla'),
 (20, 'Incheon'),
 (20, 'North Jeolla'),
 (34, ''),
 (6, 'Bocas del Toro'),
 (7, 'NB'),
 (19, 'Northamptonshire'),
 (15, 'Osaka'),
 (35, 'Kingston'),
 (1, 'ID'),
 (6, 'Herrera'),
 (13, 'Baden-Wurttembrg'),
 (6, 'Los Santos'),
 (4, 'Santiago de Cuba'),
 (2, 'Monte Plata'),
 (4, 'Mayabeque'),
 (36, ''),
 (5, 'Zacatecas'),
 (2, 'Espaillat'),
 (24, 'South Holland'),
 (21, 'Western Australia'),
 (5, 'Michihoacan'),
 (24, 'North Holland'),
 (2, 'El Seibo'),
 (15, 'Okinawa'),
 (19, 'Wiltshire'),
 (5, 'Jalisco'),
 (3, 'Barinas'),
 (16, 'Kildare'),
 (7, 'MB'),
 (13, 'Hamburg'),
 (15, 'Kochi'),
 (15, 'Kagoshima'),
 (2, 'Dajabon'),
 (5, 'Michoacan'),
 (3, 'Tachira'),
 (4, 'Guantanamo'),
 (3, 'Portuguesa'),
 (13, 'Hesse'),
 (13, ''),
 (3, 'Yaracuy'),
 (37, 'Sao Paulo'),
 (6, 'Veraguas'),
 (25, ''),
 (38, ''),
 (12, 'Managua'),
 (4, 'Las Tunas'),
 (2, 'Hermanas Mirabal'),
 (19, 'London'),
 (7, 'PE'),
 (15, 'Hyogo'),
 (39, ''),
 (40, ''),
 (41, ''),
 (19, 'Suffolk'),
 (19, 'West Midlands'),
 (19, 'Glasgow'),
 (24, ''),
 (42, ''),
 (15, 'Chiba'),
 (15, 'Ibaraki'),
 (15, 'Ehime'),
 (19, 'North Yorkshire'),
 (25, 'Ile-de-France'),
 (43, ''),
 (5, 'Nayarit'),
 (5, 'Distrito Federal'),
 (15, 'Nagasaki'),
 (20, 'Gwangju'),
 (15, 'Tokushima'),
 (44, ''),
 (15, 'Yamanashi'),
 (20, 'Daejeon'),
 (13, 'Saxony'),
 (19, 'Cheshire'),
 (25, 'Centre-Val de Loire'),
 (16, 'Antrim'),
 (4, 'Las Villas'),
 (3, 'Zuila'),
 (45, 'Antwerp'),
 (19, 'Powys'),
 (22, 'Olomouc'),
 (5, 'Puebla'),
 (5, 'Estado de Mexico'),
 (12, 'Chinandega'),
 (16, 'Tyrone'),
 (19, 'Oxfordshire'),
 (46, ''),
 (47, ''),
 (15, 'Ishikawa'),
 (15, 'Kanagawa'),
 (19, 'Belfast'),
 (48, ''),
 (5, 'Coahuila'),
 (4, 'Sancti Spiritus'),
 (19, 'Denbighshire'),
 (16, 'Westmeath'),
 (15, 'Nara'),
 (49, 'Vilnius'),
 (50, 'Limpopo'),
 (19, 'Worcestershire'),
 (19, 'Stirling'),
 (16, 'Kerry'),
 (31, 'Zaragoza'),
 (15, 'Kyoto'),
 (16, 'Galway'),
 (4, 'Camaguey'),
 (19, 'Bedfordshire'),
 (31, 'Asturias'),
 (20, 'South Chungcheong'),
 (17, 'Toscana'),
 (17, 'Piedmont'),
 (51, 'Atlantic Ocean'),
 (5, 'San Luis Potosi'),
 (52, ''),
 (12, 'Rivas'),
 (15, ''),
 (11, 'Atlantico'),
 (13, 'North Rhine-Westphalia'),
 (31, 'Madrid'),
 (36, 'Pomerania'),
 (2, 'La Altagracia'),
 (3, 'Cojedes'),
 (5, 'Baja California Sur'),
 (22, 'Central Bohemia'),
 (15, 'Miyagi'),
 (3, 'Merida'),
 (13, 'Thuringia'),
 (19, 'Staffordshire'),
 (53, ''),
 (54, ''),
 (19, 'Greater Manchester'),
 (16, 'Clare'),
 (15, 'Aichi'),
 (13, 'Baden-Wurttemburg'),
 (15, 'Hiroshima'),
 (15, 'Fukuoka'),
 (19, 'Norfolk'),
 (2, ''),
 (22, 'Plzensky'),
 (24, 'North Brabant'),
 (15, 'Shimane'),
 (19, 'Dundee'),
 (19, 'Northumberland'),
 (16, 'Tipperary'),
 (19, 'West Yorkshire'),
 (21, 'Capital Territory'),
 (54, 'Eastern Province'),
 (24, 'Groningen'),
 (15, 'Mie'),
 (15, 'Wakayama'),
 (55, 'Atlantida'),
 (56, 'Liepaja'),
 (42, 'Salzburg'),
 (5, 'Campeche'),
 (5, 'Mexico'),
 (51, 'Pacific Ocean'),
 (None, 'Atlantic Ocean'),
 (57, ''),
 (5, 'Chiapas'),
 (5, 'Quintana Roo'),
 (16, 'Limerick'),
 (5, 'Guanajuato'),
 (58, ''),
 (59, 'Guanacaste'),
 (51, 'Caribbean Sea')]

In [371]:
%%sql
CREATE TABLE states as
SELECT distinct * from
    (SELECT birth_country_code as country_code, birthState as state_name from peopleclean
    UNION
    SELECT death_country_code as country_code, deathState as state_name  from peopleclean) as a;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
335 rows affected.

[]

In [372]:
%%sql
ALTER TABLE `lahman2017raw`.`states`
ADD COLUMN `state_id` INT NOT NULL AUTO_INCREMENT AFTER `state_name`,
ADD PRIMARY KEY (`state_id`);

ALTER TABLE `lahman2017raw`.`peopleclean`
ADD COLUMN `birth_state_code` INT NULL AFTER `birth_country_code`,
ADD COLUMN `death_state_code` INT NULL AFTER `death_country_code`;

UPDATE peopleclean 
    SET birth_state_code = 
    (SELECT state_id from states where states.state_name = peopleclean.birthState
        and states.country_code = peopleclean.birth_country_code);
    
UPDATE peopleclean 
    SET death_state_code = 
    (SELECT state_id from states where states.state_name = peopleclean.deathState
        and states.country_code = peopleclean.death_country_code);

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
0 rows affected.
19370 rows affected.
19370 rows affected.

[]

### Cities

In [373]:
%%sql
SELECT distinct * from
    (SELECT birth_country_code, birth_state_code, birthCity from peopleclean
    UNION
    SELECT death_country_code, death_state_code, deathCity from peopleclean) as a
    
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[(1, 1, 'Denver'),
 (1, 2, 'Mobile'),
 (1, 3, 'Orange'),
 (1, 4, 'Palm Beach'),
 (2, 5, 'La Romana'),
 (1, 6, 'Philadelphia'),
 (1, 6, 'Latrobe'),
 (1, 7, 'Essex'),
 (1, 8, 'Falls City'),
 (1, 9, 'Portage')]

In [374]:
%%sql
UPDATE peopleclean set birthCity = NULL where birthCity = "";

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
179 rows affected.

[]

In [375]:
%%sql
UPDATE peopleclean set deathCity = NULL where deathCity = "";

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
9830 rows affected.

[]

In [377]:
%%sql
CREATE TABLE cities as 
SELECT distinct * from
    (SELECT birth_country_code, birth_state_code, birthCity from peopleclean
    UNION
    SELECT death_country_code, death_state_code, deathCity from peopleclean) as a

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
7428 rows affected.

[]

In [378]:
%%sql
ALTER TABLE `lahman2017raw`.`cities`
ADD COLUMN `city_id` INT NOT NULL AUTO_INCREMENT AFTER `birthCity`,
ADD PRIMARY KEY (`city_id`);

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [379]:
%%sql
ALTER TABLE `lahman2017raw`.`cities`
CHANGE COLUMN `birth_country_code` `country_code` int(11) NULL DEFAULT NULL,
CHANGE COLUMN `birth_state_code` `state_code` int(11) NULL DEFAULT NULL;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [380]:
%%sql
ALTER TABLE `lahman2017raw`.`cities`
CHANGE COLUMN `birthCity` `city_name` MEDIUMTEXT NULL DEFAULT NULL;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
7428 rows affected.

[]

In [381]:
%%sql
ALTER TABLE `lahman2017raw`.`peopleclean`
ADD COLUMN `birth_city_code` INT NULL AFTER `birth_state_code`,
ADD COLUMN `death_city_code` INT NULL AFTER `death_state_code`;

UPDATE peopleclean 
    SET birth_city_code = 
    (SELECT city_id from cities where
        peopleclean.birth_country_code = cities.country_code and 
            peopleclean.birth_state_code = cities.state_code and
                peopleclean.birthCity = cities.city_name);

UPDATE peopleclean 
    SET death_city_code = 
    (SELECT city_id from cities where
        peopleclean.death_country_code = cities.country_code and 
            peopleclean.death_state_code = cities.state_code and
                peopleclean.deathCity = cities.city_name);

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
19370 rows affected.
19370 rows affected.

[]

### Bats and Throws

In [387]:
%%sql
SELECT distinct bats from peopleclean

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
4 rows affected.

[('R',), ('L',), ('',), ('B',)]

In [388]:
%%sql
SELECT distinct throws from peopleclean

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
4 rows affected.

[('R',), ('L',), ('',), ('S',)]

In [389]:
%%sql
UPDATE peopleclean set throws = NULL where throws = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
979 rows affected.

[]

In [390]:
%%sql
UPDATE peopleclean set bats = NULL where bats = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1185 rows affected.

[]

In [391]:
%%sql
SELECT playerid, throws from lahman2017raw.peopleclean
    where throws not in ('L', 'R', 'S') and throws is not NULL;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [392]:
%%sql
SELECT playerid, bats from lahman2017raw.peopleclean
    where bats not in ('L', 'R', 'B') and bats is not NULL;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [393]:
%%sql
ALTER TABLE `lahman2017raw`.`peopleclean`
CHANGE COLUMN `throws` `throws` ENUM('L', 'R', 'S') NULL DEFAULT NULL;

ALTER TABLE `lahman2017raw`.`peopleclean`
CHANGE COLUMN `bats` `bats` ENUM('L', 'R', 'B') NULL DEFAULT NULL;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
19370 rows affected.
19370 rows affected.

[]

In [394]:
%%sql
SELECT max(length(nameLast)), max(length(nameFirst)), max(length(nameGiven)) from peopleclean;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
1 rows affected.

[(14, 12, 43)]

In [395]:
%%sql
UPDATE peopleclean set nameLast = NULL where nameLast = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [396]:
%%sql
update peopleclean set nameFirst = NULL where nameFirst = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
38 rows affected.

[]

In [397]:
%%sql
update peopleclean set nameFirst = NULL where nameGiven = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
38 rows affected.

[]

In [398]:
%%sql
update peopleclean set height = NULL where height = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
755 rows affected.

[]

In [399]:
%%sql
update peopleclean set weight = NULL where weight = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
837 rows affected.

[]

In [400]:
%%sql
SELECT height, weight from peopleclean where
    (not height REGEXP '^[0-9]' and height is not null) or
    (not weight REGEXP '^[0-9]' and weight is not null)

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [402]:
%%sql
SELECT cast(debut as date) as debut_date,
    cast(finalGame as date) as finalGame_date from peopleclean
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[(datetime.date(2004, 4, 6), datetime.date(2015, 8, 23)),
 (datetime.date(1954, 4, 13), datetime.date(1976, 10, 3)),
 (datetime.date(1962, 4, 10), datetime.date(1971, 9, 26)),
 (datetime.date(1977, 7, 26), datetime.date(1990, 10, 3)),
 (datetime.date(2001, 9, 10), datetime.date(2006, 4, 13)),
 (datetime.date(2010, 7, 28), datetime.date(2017, 10, 1)),
 (datetime.date(1875, 4, 26), datetime.date(1875, 6, 10)),
 (datetime.date(1897, 9, 4), datetime.date(1910, 9, 15)),
 (datetime.date(1892, 6, 14), datetime.date(1896, 9, 23)),
 (datetime.date(1893, 8, 16), datetime.date(1897, 8, 19))]

In [403]:
%%sql
UPDATE peopleclean set debut = NULL where debut = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
196 rows affected.

[]

In [404]:
%%sql
UPDATE peopleclean set finalGame = NULL where finalGame = ""

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
196 rows affected.

[]

In [414]:
%%sql
CREATE TABLE lahman2017raw.peopleclean1
    (SELECT playerID, DOB, DOD, birth_country_code, birth_state_code, birth_city_code, 
    death_country_code, death_state_code, death_city_code, nameFirst, nameLast, nameGiven,
    weight, height, bats, throws, debut, finalGame, retroID, bbrefID
    from lahman2017raw.peopleclean)

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
19370 rows affected.

[]

In [415]:
%%sql
select * from peopleclean1
limit 10;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
10 rows affected.

[('aardsda01', '1981-12-27', None, 1, 1, 1, None, None, None, 'David', 'Aardsma', 'David Allan', '215', '75', 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01'),
 ('aaronha01', '1934-02-05', None, 1, 2, 2, None, None, None, 'Hank', 'Aaron', 'Henry Louis', '180', '72', 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01'),
 ('aaronto01', '1939-08-05', '1984-08-16', 1, 2, 2, 1, 11, 13, 'Tommie', 'Aaron', 'Tommie Lee', '190', '75', 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01'),
 ('aasedo01', '1954-09-08', None, 1, 3, 3, None, None, None, 'Don', 'Aase', 'Donald William', '190', '75', 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01'),
 ('abadan01', '1972-08-25', None, 1, 4, 4, None, None, None, 'Andy', 'Abad', 'Fausto Andres', '184', '73', 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01'),
 ('abadfe01', '1985-12-17', None, 2, 5, 5, None, None, None, 'Fernando', 'Abad', 'Fernando Antonio', '220', '73', 'L', 'L', '2010-07-28', '2017-10-01', 'abadf001', 'abadfe01'),
 ('abadijo01', '1850-11-04', '1905-05-17', 1, 6, 6, 1, 29, 6116, 'John', 'Abadie', 'John W.', '192', '72', 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01'),
 ('abbated01', '1877-04-15', '1957-01-06', 1, 6, 7, 1, 4, 587, 'Ed', 'Abbaticchio', 'Edward James', '170', '71', 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01'),
 ('abbeybe01', '1869-11-11', '1962-06-11', 1, 7, 8, 1, 7, 1751, 'Bert', 'Abbey', 'Bert Wood', '175', '71', 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01'),
 ('abbeych01', '1866-10-14', '1926-04-27', 1, 8, 9, 1, 3, 115, 'Charlie', 'Abbey', 'Charles S.', '169', '68', 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01')]

## Notes and Comments

# Inheritance, Triggers and Stored Procedures (15 points)

## Question

- The last lecture covered a 3 table solution to inheritance for ```Person, Student``` and ```Faculty.```


- The entity types are the following:


- _Person:_

| Property | Type | Example | Comments |
| :---: | :---: |
| uni | varchar | "dff9" | Computed by database functions; immutable. |
| last_name | varchar | "Ferguson" | |
| first_name | varchar | "Donald" | |
| type | enum("Student", "Faculty", "Multiple") | "Student" | |
| created | Datetime | 2019-03-06 10:51:59 | Immutable. Generated on create. |


- _Faculty:_ A faculty entity is a subclass ("IsA") _Person_ and has all of the properties of _Person._ _Faculty_ has the following additional properties.

| Property | Type | Example | Comments |
| :---: | :---: |
| title | varchar | "Terrifying database professor" | |
| department | varchar | "Computer Science" | |


- _Student:_ A student entity is a subclass ("IsA") _Person_ and has all of the properties of _Person._ _Student_ has the following additional properties.

| Property | Type | Example | Comments |
| :---: | :---: |
| enrollment_year | Date | 2019-09-01 | |
| major | varchar | "Computer Science, but seriously reevaluating life choices and probably changing because of W4111. Yak herding looks pretty good now." | |



- Requirements
    - Solve the problem using a [two table solution.](https://www.vertabelo.com/blog/technical-articles/inheritance-in-a-relational-database)
    - The model is __COMPLETE.__ There are no _Person_ entities that are neither _Student_ or _Faculty._
    - The model is __NOT__ disjoint. There are _Person_ entities that are both a _Student_ and a _Faculty._
    - You __MUST:__
        - Generate the UNI using first name and last name. This requires a function and triggers.
        - Enforce immutability for ```uni``` and ```created.``` This requires triggers.
        - Provide a procedure ```create_person().``` This procedures's parameters are the fields necessary to create a _Student_ and _Faculty._ The procedure creates the _Student_ entry, _Faculty_ entry or both depending on the inputs.
        - A _view_ that supports ```SELECT``` on _Person._
        - Create a new database user "default_user" with password "dbuserdbuser."
        - Demonstrate the "default_user"
            - Cannot access the tables.
            - Can call ```create_person()```
            - Can query the _Person_ view.
            
        
- Use the schema "uni_midterm".


- We will test the answer you provide in the code cells below.

## Answer

### Create Table/View Statements

In [416]:
%%sql
use xw2566_midterm

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [432]:
%%sql 
CREATE TABLE `faculty_title` (
    `faculty_code` int(11) NOT NULL AUTO_INCREMENT,
    `faculty_title` varchar(64) NOT NULL,
    PRIMARY KEY (`faculty_code`),
    UNIQUE KEY `title_UNIQUE` (`faculty_title`) 
)ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;


CREATE TABLE `department` (
    `dept_code` varchar(4) NOT NULL,
    `dept_name` varchar(64) NOT NULL,
    PRIMARY KEY (`dept_code`),
    UNIQUE KEY `name_UNIQUE` (`dept_name`) 
)ENGINE=InnoDB DEFAULT CHARSET=latin1;


CREATE TABLE `major` (
    `major_code` int(11) NOT NULL AUTO_INCREMENT,
    `major_name` varchar(64) NOT NULL,
    PRIMARY KEY (`major_code`),
    UNIQUE KEY `major_name_UNIQUE` (`major_name`) 
)ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;


CREATE TABLE `student` (
    `uni` varchar(12) NOT NULL,
    `last_name` varchar(64) NOT NULL,
    `first_name` varchar(64) NOT NULL,
    `created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `major_code` int(11) NOT NULL,
    `enrollment_year` year(4) NOT NULL,
    PRIMARY KEY (`uni`),
    KEY `s_to_m_idx` (`major_code`),
    CONSTRAINT `s_to_m` FOREIGN KEY (`major_code`) REFERENCES `major` (`major_code`) 
    ON DELETE NO ACTION ON UPDATE NO ACTION
)ENGINE=InnoDB DEFAULT CHARSET=latin1;


CREATE TABLE `faculty`(
    `uni` varchar(12) NOT NULL,
    `last_name` varchar(64) NOT NULL,
    `first_name` varchar(64) NOT NULL,
    `created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `title_code` int(11) NOT NULL,
    `dept_code` varchar(4) NOT NULL,
    PRIMARY KEY(`uni`),
    KEY `f_to_dept_idx` (`dept_code`),
    KEY `f_to_title_idx` (`title_code`),
    CONSTRAINT `f_to_dept` FOREIGN KEY (`dept_code`) REFERENCES `department` (`dept_code`) 
    ON DELETE NO ACTION ON UPDATE NO ACTION,
    CONSTRAINT `f_to_title` FOREIGN KEY (`title_code`) REFERENCES `faculty_title` (`faculty_code`) 
    ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

![](diagram2.png)

In [433]:
%%sql
CREATE
    ALGORITHM = UNDEFINED
    DEFINER = `root`@`localhost`
    SQL SECURITY DEFINER
VIEW `person` AS
     SELECT 
        `a`.`uni` AS `uni`,
        `a`.`first_name` AS `first_name`,
        `a`.`last_name` AS `last_name`,
        COMPUTE_ROLE(MAX(`a`.`student`), MAX(`a`.`faculty`)) AS `role`,
        GROUP_CONCAT(`a`.`role`
                    SEPARATOR ',') AS `all_roles`,
        IFNULL(GROUP_CONCAT(`a`.`major_code`
                            SEPARATOR ','),
               'NA') AS `major_code`,
        IFNULL(GROUP_CONCAT(`a`.`enrollment_year`
                            SEPARATOR ','),
               'NA') AS `enrollment_year`,                    
        IFNULL(GROUP_CONCAT(`a`.`title_code`
                            SEPARATOR ','),
               'NA') AS `title_code`,
        IFNULL(GROUP_CONCAT(`a`.`dept_code`
                            SEPARATOR ','),
               'NA') AS `dept_code`,
        MAX(`a`.`created`) AS `created`
        FROM
           (SELECT
                `xw2566_midterm`.`student`.`uni` AS `uni`,
                    `xw2566_midterm`.`student`.`first_name` AS `first_name`,
                    `xw2566_midterm`.`student`.`last_name` AS `last_name`,
                     'S' AS `student`,
                     'S' AS `role`,
                      NULL AS `faculty`,
                     `xw2566_midterm`.`student`.`major_code` AS `major_code`,
                     `xw2566_midterm`.`student`.`enrollment_year` AS `enrollment_year`,
                      NULL AS `title_code`,
                      NULL AS `dept_code`,
                      `xw2566_midterm`.`student`.`created` AS `created`
            FROM
                   `xw2566_midterm`.`student` UNION SELECT
                   `xw2566_midterm`.`faculty`.`uni` AS `uni`,
                       `xw2566_midterm`.`faculty`.`first_name` AS `first_name`,
                       `xw2566_midterm`.`faculty`.`last_name` AS `last_name`,
                       NULL AS `student`,
                       'F' AS `faculty`,
                       'F' AS `role`,
                       NULL AS `major_code`,
                       NULL AS `enrollment_year`,
                       `xw2566_midterm`.`faculty`.`title_code` AS `title_code`,
                       `xw2566_midterm`.`faculty`.`dept_code` AS `dept_code`,
                       `xw2566_midterm`.`faculty`.`created` AS `created`
            FROM
                    `xw2566_midterm`.`faculty`) `a`
            GROUP BY `a`.`uni`, `a`.`first_name`, `a`.`last_name`

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw

InternalError: (pymysql.err.InternalError) (1305, 'FUNCTION xw2566_midterm.COMPUTE_ROLE does not exist') [SQL: "CREATE\n    ALGORITHM = UNDEFINED\n    DEFINER = `root`@`localhost`\n    SQL SECURITY DEFINER\nVIEW `person` AS\n     SELECT \n        `a`.`uni` AS `uni`,\n        `a`.`first_name` AS `first_name`,\n        `a`.`last_name` AS `last_name`,\n        COMPUTE_ROLE(MAX(`a`.`student`), MAX(`a`.`faculty`)) AS `role`,\n        GROUP_CONCAT(`a`.`role`\n                    SEPARATOR ',') AS `all_roles`,\n        IFNULL(GROUP_CONCAT(`a`.`major_code`\n                            SEPARATOR ','),\n               'NA') AS `major_code`,\n        IFNULL(GROUP_CONCAT(`a`.`enrollment_year`\n                            SEPARATOR ','),\n               'NA') AS `enrollment_year`,                    \n        IFNULL(GROUP_CONCAT(`a`.`title_code`\n                            SEPARATOR ','),\n               'NA') AS `title_code`,\n        IFNULL(GROUP_CONCAT(`a`.`dept_code`\n                            SEPARATOR ','),\n               'NA') AS `dept_code`,\n        MAX(`a`.`created`) AS `created`\n        FROM\n           (SELECT\n                `xw2566_midterm`.`student`.`uni` AS `uni`,\n                    `xw2566_midterm`.`student`.`first_name` AS `first_name`,\n                    `xw2566_midterm`.`student`.`last_name` AS `last_name`,\n                     'S' AS `student`,\n                     'S' AS `role`,\n                      NULL AS `faculty`,\n                     `xw2566_midterm`.`student`.`major_code` AS `major_code`,\n                     `xw2566_midterm`.`student`.`enrollment_year` AS `enrollment_year`,\n                      NULL AS `title_code`,\n                      NULL AS `dept_code`,\n                      `xw2566_midterm`.`student`.`created` AS `created`\n            FROM\n                   `xw2566_midterm`.`student` UNION SELECT\n                   `xw2566_midterm`.`faculty`.`uni` AS `uni`,\n                       `xw2566_midterm`.`faculty`.`first_name` AS `first_name`,\n                       `xw2566_midterm`.`faculty`.`last_name` AS `last_name`,\n                       NULL AS `student`,\n                       'F' AS `faculty`,\n                       'F' AS `role`,\n                       NULL AS `major_code`,\n                       NULL AS `enrollment_year`,\n                       `xw2566_midterm`.`faculty`.`title_code` AS `title_code`,\n                       `xw2566_midterm`.`faculty`.`dept_code` AS `dept_code`,\n                       `xw2566_midterm`.`faculty`.`created` AS `created`\n            FROM\n                    `xw2566_midterm`.`faculty`) `a`\n            GROUP BY `a`.`uni`, `a`.`first_name`, `a`.`last_name`"] (Background on this error at: http://sqlalche.me/e/2j85)

### Create Trigger, Function and Procedure Statements

In [ ]:
%sql 
CREATE DEFINER=`dbuser`@`%` TRIGGER `xw2566_midterm`,`student_BEFORE_INSERT` 
    BEFORE INSERT ON `student` FOR EACH ROW BEGIN
     declare u varchar(32);
    
     set u =(select user());
     
     if not (valid_name(new.enrollment_year between year(`1980-00-00`) and year(`2030-00-00`)) then 
             if u != `root@localhost` then
                signal sqlstate `45006` set message_text = `You are setting a weird date and are not root.Nice try.`;
             end if ;
     end if;  
END
             
CREATE DEFINER=`dbuser`@`%` TRIGGER `xw2566_midterm`,`student_BEFORE_INSERT` 
             BEFORE INSERT ON `student` FOR EACH ROW BEGIN
     declare u varchar(32);
    
     set u =(select user());
     
     if u != `root@localhost` then
        if new.uni !=old.uni ir new.created != old.created then
                signal sqlstate `45002`
                     set message_text = "Cannot change UNI or created date.";
             end if ;
     end if;  
             
     if not (valid_name(new.first_name) and valid_name(new.last_name)) then 
                signal sqlstate `45003` 
                    set message_text = "Not sure that name has valid characters.";
             end if ;
     if not (new.enrollment_year between year(`1980-00-00`) and year(`2030-00-00`)) then 
             if u != `root@localhost` then
                signal sqlstate `45006` set message_text = "YOU are setting a weird date and are not root. Nice try.";
             end if ; 
     end if ; 
END

CREATE DEFINER=`dbuser`@`%` TRIGGER `xw2566_midterm`,`faculty_BEFORE_INSERT` BEFORE INSERT ON `faculty` FOR EACH ROW BEGIN
             if not (valid_name(new,first_name) and valid_name(new.last_name)) then
                signal sqlstate `45003` 
                     set message_text = "Not sure that name has valid characters.";
             end if ; 
END     
             
CREATE DEFINER=`root`@`localhost` TRIGGER `xw2566_midterm`,`faculty_BEFORE_UPDATE` 
             BEFORE UPDATE ON `faculty` FOR EACH ROW BEGIN
              declare u varchar(32);
             
             set u =(select user());
             
             if u != `root@localhost` then
                if new.uni != old.uni or new.created != old.created then
                    signal sqlstate `45002` 
                         set message_text = "Cannot change UNI or created date.";
                end if ;
             end if;
            
              if not (valid_name(new.first_name) and valid_name(new.last_name)) then 
                signal sqlstate `45003` 
                    set message_text = "Not sure that name has valid characters.";
             end if ;
END

CREATE DEFINER=`root`@`localhost` FUNCTION `generate_uni`(first_name varchar(32),last_name varchar(32)) RETURNS
varchar(12) CHARSET utf8
BEGIN
             declare f_prefix varchar(2);
             declare l_prefix varchar(2);
             declare prefix_count int;
             declare full_prefix varchar(5);
             declare result varchar(12);
             
             /* Get the first two characters of first and last name,and convert to lowercase.*/
             set f_prefix=lower(substr(first_name,1,2));
             set l_prefix=lower(substr(last_name,1,2));
             
             /* If the name is John Smith,we will count UNIs that match 'josm%',where % is any string. */
             set full_prefix= concat(f_prefix,l_prefix,'%');
             
             /* Count the UNIs that match */
             set prefix_count = 
                 (select count(uni) as count from xw2566_midterm.person where uni like full_prefix);
             
              /* Adding one gives the next UNI. */
             set result = concat(f_prefix,l_prefix,prefix_count+1);
             
             return result;
             
END
             
CREATE DEFINER=`root`@`localhost` FUNCTION `COMPUTE_ROLE`(s varchar(1),f varchar(1)) RETURNS char(`) CHARSET latin1
BEGIN
              /* The result is a single character code that represens the role */
             declare result char(1);
             
             set result =null;
             
              /* If the person is both a student and faculty return 'B' for both. */
             if s is not null and f is not null then
             set result = 'B';
             else 
                 if f is not null and f = 'F' then
             set result ='F';
                 else 
                    if s is not null and s='S' then
                         set result = 'S';
                    else
                         set result= null:
                    end if;
                 end if;
              end if;
             
RETURN result;
END

CREATE DEFINER=`root`@`localhost` PROCEDURE `create_person`(
    out uni varchar(12),in first_name varchar(12),in last_name varchar(12), 
        in role char(1),in major_code int, in enrollment_year year, in title_code int, in dept_code char(4))
BEGIN
             
             set uni=generate_uni(first_name, last_name);
             
             if role='S' then
                 if title_code is null and dept_code is null then
                    insert into student2(uni, first_name, last_name, major_code, enrollment_year)
                        values(uni, first_name, last_name, major_code, enrollment_year);
                 else
                     signal sqlstate '45001' set message_text="title_code and dept_code must be NULL for student";
                 end if;
             end if;
             
             if role ='F' then
                if major_code is null and enrollment_year is null then
                    insert into faculty(uni, first_name, last_name, title_code, dept_code)
                        values(uni, first_name, last_name, title_code, dept_code);
                 else
                     signal sqlstate '45001' set message_text="major_code and enrollment_year must be NULL for faculty";
                 end if;
             end if;
             
             if role ='B' then
                 insert into student(uni,first_name, last_name, major_code, enrollment_year)
                        values(uni, first_name, last_name, major_code, enrollment_year);
                  insert into faculty(uni, first_name, last_name, title_code, dept_code)
                        values(uni, first_name, last_name, title_code, dept_code);
             end if;
             
             SELECT uni;

END

### Tests

#### Create 3 Students, 3 Faculty Members and Two Persons that are Both.

In [ ]:
%sql
CALL
   `xw2566_midterm`,`create_person`(
   @uni,
   "Yoqi",
    "Bear",
(     "F",
    NULL,erm2`,`create_person{
    NULL,
    1,
    "COMS"
    };
uni

new_uni=%sql select @uni;
new_uni

%%sql
CALL
 `xw2566_midterm`,`create_person`(
   @uni,
   "Yellow",
    "Bear",
     "S",
      5,
     '2020'
    NULL,
    NULL
};

#### Demonstrate Queries

Write queries that return:
- All students
- All faculty
- All persons that are both.

In [440]:
%%sql 
SELECT * from xw2566_midterm.person;

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw
0 rows affected.

[]

In [441]:
%%sql 
SELECT * from xw2566_midterm.person where role='B' or role='F';

 * mysql+pymysql://dbuser:***@localhost/lahman2017raw

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'role' in 'where clause'") [SQL: "select * from xw2566_midterm.persons where role='B' or role='F';"] (Background on this error at: http://sqlalche.me/e/2j85)

#### User Rights

- Execute the following SQL statement.

In [ ]:
%sql SHOW GRANTS FOR 'default_user'@'localhost';